
statement {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid gray;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    background-color: lightgray;
}

hint {
    display: block;
    padding: 10px;
    margin: 10px 0;
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
    background-color: lightcyan;
    color: darkslategray;
}

excurs {
    display: block;
    padding: 15px;
    margin: 10px 0;
    border: 1px 0 solid black;
    background-color: lightskyblue;
    color: darkslategray;
}

code:not([lang]) {
    background: lightblue;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 90%;
    height: auto;
}

img[src*="rc_glied"] {
    width: 30%;
}
img[src*="bs_a"] {
    width: 60%;
}
img[src*="bs_block_with_state"] {
    width: 50%;
}
img[src*="calculator"] {
    width: 60%;
}

.container {
    width: 800px;
    margin: auto;
}

/* Numbered Headings  */
  
h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 {}

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}
