
.container {
    width: 800px;
    margin: auto;
}

statement {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid darkslategray;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #ff6f69;
}

hint {
    display: block;
    padding: 10px;
    margin: 20px 0;
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
    background-color: #ffeead;
    color: darkslategray;
    border-radius: 10px;
}

excurs {
    display: block;
    padding: 15px;
    margin: 20px 0;
    border: 1px 0 solid black;
    background-color: #ffcc5c;
    color: darkslategray;
    border-radius: 10px;
}

code:not([lang]) {
    background: #88d8b0;
    font-size: 0.9em;
    padding: 2px 4px;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 90%;
    height: auto;
}

img[src*="rc_glied"] {
    width: 30%;
}
img[src*="bs_a"] {
    width: 60%;
}
img[src*="bs_block_with_state"] {
    width: 50%;
}
img[src*="calculator"] {
    width: 20%;
}

.col-2 {
    column-count: 2;
    column-gap: 0;
    column-rule: none;
} 
.col-2 pre {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
} 
.col-2 pre code span {
    font-size: 0.95em;
    line-height: 0.95em;
} 


/* Numbered Headings  */
  
h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 {}

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}
